{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .beige-section {
            background-color: #f5f5dc; /* Couleur de fond beige */
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        /* Fixe le footer en bas de la page */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
        }

        .footer {
            background-color: #f5f5f5;
            padding: 20px;
            text-align: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container mt-4 beige-section">
    <h1>Mon Panier</h1>
    <hr>
    <div>
        {% if panier is empty %}
            <p>Votre panier est vide.</p>
            <a href="{{ path('app_accueil') }}" class="btn btn-primary mt-3">Retourner à la page d'accueil</a>
        {% else %}
            <h2>Panier</h2>
            {% for produit in panier %}
                <div>
                    <h3>{{ produit.nom }}</h3>
                    <div>
                        <img src="{{ produit.image }}" alt="{{ produit.nom }}" class="img-fluid">
                    </div>
                    <div>{{ produit.description }}</div>
                    <div>{{ produit.prix }} €</div>
                    <div class="fw-bold">Quantité: {{ produit.quantite }}</div>
                    <div>
                        <a href="{{ path('app_add', {'id': produit.id}) }}" class="btn btn-primary">+</a>
                        <a href="{{ path('app_del', {'id': produit.id}) }}" class="btn btn-primary">-</a>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <a href="{{ path('app_clear') }}" class="btn btn-danger mt-3">Vider le Panier</a>
            <a href="{{ path('app_payment') }}" class="btn btn-success mt-3">Passer au paiement</a>
            <a href="{{ path('app_accueil') }}" class="btn btn-primary mt-3">Retourner à la page d'accueil</a>
        {% endif %}
    </div>
</div>
{% endblock %}
