{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Mon Panier</h1>
    <hr>
    <div>
        {% if panier is empty %}
            <p>Votre panier est vide.</p>
        {% else %}
            <h2>Panier</h2>
            {% for produit in panier %}
                <div>
                    <h3>{{ produit.nom }}</h3>
                    <div>{{ produit.description }}</div>
                    <div>{{ produit.prix }}</div>
                    <div class="fw-bold">Quantité: {{ produit.quantite }}</div>
                    <div>
                        <a href="{{ path('app_add', {'id': produit.id}) }}" class="btn btn-primary">+</a>
                        <a href="{{ path('app_del', {'id': produit.id}) }}" class="btn btn-primary">-</a>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <a href="{{ path('app_clear') }}" class="btn btn-danger mt-3">Vider le Panier</a>
        {% endif %}
    </div>
</div>
{% endblock %}
