{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}
    <div class="bg-beige py-5">
        <div class="container">
            <h1 class="mt-5 mb-4">Familles</h1>
            <div class="row">
                {% for famille in familles %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if famille.image %}
                                <img src="{{ asset('../assets/img/famille/' ~ famille.image) }}" class="card-img-top" alt="{{ famille.nom }}" width="300" height="200">
                            {% else %}
                                <img src="{{ asset('assets/img/default-image.png') }}" class="card-img-top" alt="Image par défaut" width="300" height="200">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ famille.nom }}</h5>
                                <a href="{{ path('types', {familleId: famille.id}) }}" class="btn btn-primary">Voir les types</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
