{% extends 'base.html.twig' %}

{% block title %}Modèle{% endblock %}

{% block body %}
    <div class="bg-beige py-5">
        <div class="container">
            <h1 class="mt-5 mb-4">Modèle</h1>
            <div class="row">
                {% for modele in modeles %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if modele.image %}
                                <img src="{{ asset('../assets/img/modele/' ~ modele.image) }}" class="card-img-top" alt="{{ modele.nom }}" width="300" height="200">
                            {% else %}
                                <img src="{{ asset('assets/img/default-image.png') }}" class="card-img-top" alt="Image par défaut" width="300" height="200">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ modele.nom }}</h5>
                <a href="{{ path('produits', {familleId: sousType.type.famille.id, typeId: sousType.type.id, sousTypeId: sousType.id, modeleId: modele.id}) }}"
                class="btn btn-primary">Voir les produits</a>
          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}



          
