{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <div class="bg-beige py-5">
        <div class="container">
            <h1 class="mt-5 mb-4">Types</h1>
            <div class="row">
                {% for type in types %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if type.image %}
                                <img src="{{ asset('../assets/img/type/' ~ type.image) }}" class="card-img-top" alt="{{ type.nom }}" width="300" height="200">
                            {% else %}
                                <img src="{{ asset('assets/img/default-image.png') }}" class="card-img-top" alt="Image par défaut" width="300" height="200">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ type.nom }}</h5>
                                    <a href="{{ path('sous_types', {familleId: famille.id, typeId: type.id}) }}"class="btn btn-primary">Voir les sous-types</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
