{% extends 'base.html.twig' %}

{% block title %}
    Modifier Plat
{% endblock %}

{% block body %}
    <h1>Modifier Plat</h1>

    {# Afficher le formulaire de modification du plat #}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.nom, 'Libellé') }}
        {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.prix, 'Prix') }}
        {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.categorie, 'Catégorie') }}
        {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
    </div>

    {# <div class="form-group">
        {{ form_label(form.image, 'Image du plat') }}
        {{ form_widget(form.image, { 'attr': {'class': 'form-control-file'} }) }}
    </div> #}

    {{ form_row(form._token) }}

    <button type="submit" class="btn btn-primary">Modifier le plat</button>

    {{ form_end(form) }}
{% endblock %}
