{% extends 'base.html.twig' %}

{% block title %}
    Modifier Produit
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .beige-section {
            background-color: #f5f5dc; /* Couleur de fond beige */
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="beige-section">
    <h1 class="text-center my-4">Modifier Produit</h1>
</div>
    <div class="d-flex justify-content-center">
        <div class="bg-light p-4 rounded" style="background-color: beige; max-width: 800px;">
            <div class="d-flex align-items-start">
                {# Afficher l'image du produit à gauche #}
                <div class="me-4">
                    <img src="{{ asset(produit.image) }}" alt="{{ produit.nom }}" class="img-fluid rounded" style="max-width: 200px;">
                </div>

                {# Afficher le formulaire de modification du produit à droite #}
                <div>
                    {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_label(form.nom, 'Libellé') }}
                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.description, 'Description') }}
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.prix, 'Prix') }}
                        {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.categorie, 'Catégorie') }}
                        {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.fournisseur, 'Fournisseur') }}
                        {{ form_widget(form.fournisseur, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.image, 'Image du produit') }}
                        {{ form_widget(form.image, { 'attr': {'class': 'form-control-file'} }) }}
                    </div>

                    {{ form_row(form._token) }}

                    <div class="mt-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Modifier le produit</button>
                        <button onclick="window.history.back();" class="btn btn-secondary">Retour</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
