{# templates/contact/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Contactez-nous</h1>
        
        {% if app.user %}
            <div class="bg-light p-4 rounded shadow-sm mb-4">
                <h2>Vos Informations</h2>
                <p><strong>Nom :</strong> {{ client.nom }}</p>
                <p><strong>Prénom :</strong> {{ client.prenom }}</p>
                <p><strong>Email :</strong> {{ client.email }}</p>
                <p><strong>Type de client :</strong> {{ client.typeClient ? 'Professionnel' : 'Particulier' }}</p>
                <!-- Ajoutez d'autres informations de client si nécessaires -->
            </div>
            
            <div class="bg-light p-4 rounded shadow-sm">
                <h2>Formulaire de Contact</h2>
                {{ form_start(form) }}
                {{ form_row(form.from) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.message) }}

                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Vous devez être connecté pour accéder à cette page.
            </div>
        {% endif %}
    </div>
{% endblock %}
