{% extends 'base.html.twig' %}

{% block title %}
    Liste des Commerciaux
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .beige-section {
            background-color: #f5f5dc; /* Couleur de fond beige */
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        /* Fixe le footer en bas de la page */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
        }

        .footer {
            background-color: #f5f5f5;
            padding: 20px;
            text-align: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container beige-section">
        <h1>Liste des Commerciaux</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Rôle</th>
                    <th>Adresse Mail</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for commercial in commerciaux %}
                    <tr>
                        <td>{{ commercial.nom }}</td>
                        <td>{{ commercial.role }}</td>
                        <td>{{ commercial.adresseMail }}</td>
                        <td>
                            <a href="{{ path('modifier_commercial', { id: commercial.id }) }}" class="btn btn-sm btn-warning">Modifier</a>
                            <a href="{{ path('supprimer_commercial', { id: commercial.id }) }}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-start mt-3">
            <a href="{{ path('ajouter_commercial') }}" class="btn btn-sm btn-success">Ajouter</a>
        </div>
    </div>

        <div class="footer">
        <p>&copy; {{ "now"|date("Y") }} Village Green. Tous droits réservés.</p>
    </div>
{% endblock %}
