{# templates/reset/resetpassword.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<style>
    /* Styles CSS personnalisés */
    .form-resetpassword {
        max-width: 400px;
        padding: 15px;
        margin: auto;
    }

    .form-resetpassword .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-resetpassword input[type="email"],
    .form-resetpassword input[type="password"] {
        margin-bottom: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-resetpassword input[type="email"]:focus,
    .form-resetpassword input[type="password"]:focus {
        z-index: 2;
    }

    .beige-section {
        background-color: #f5f5dc; /* Couleur de fond beige */
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    /* Fixe le footer en bas de la page */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .container {
        flex: 1;
    }

    .footer {
        background-color: #f5f5f5;
        padding: 20px;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
</style>

<div class="container mt-5 beige-section">
    {{ form_start(form) }}

    {% if app.request.method == 'POST' and not form.vars.valid %}
        <div class="alert alert-danger">
            {% for error in form.vars.errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="alert alert-info">
            Vous êtes déjà connecté en tant que <b>{{ app.user.userIdentifier }}</b>. <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialisation du mot de passe</h1>
    {{ form_widget(form.from) }}
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Réinitialiser mon mot de passe</button>
    {{ form_end(form) }}
</div>

<div class="footer">
    <p>&copy; 2024 Village Green. Tous droits réservés.</p>
</div>
{% endblock %}
