{# templates/catalogue/produits.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Produits de {{ categorie.nom }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card-img-top {
            width: 100%; /* Ajuste l'image pour qu'elle prenne toute la largeur de la carte */
            height: 200px; /* Hauteur fixe pour toutes les images */
            object-fit: cover; /* Recadre l'image pour qu'elle s'ajuste bien dans le cadre */
        }
    </style>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Produits de {{ categorie.nom }}</h1>
    <div class="row">
        {% for prod in categorie.produits %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <a href="{{ path('app_produit', {'id': prod.id}) }}">
                        <img src="{{ asset(prod.image) }}" class="card-img-top" alt="{{ prod.nom }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ prod.nom }}</h5>
                            <p class="card-text">{{ prod.prix }} €</p>
                        </div>
                    </a>
                    <div class="card-footer text-center">
                        <a href="/add/{{ prod.id }}" class="btn btn-primary btn-add-to-cart">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
